.contentAutocompletado {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ffff;
  /* width: 550px; */
  width: 545px;
  height: auto;

  position: absolute;
  /* top: 70px; */
  top: 65px;
  left: 550px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerProducts {
  /* border: 2px solid blue; */
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width:768px) {
    .contentAutocompletado {
    /* border: 2px solid red; */
    border: none;
    background-color: #ffff;
    width: 100%;
    height: auto;
    height: 100vh;

    position: absolute;
    top: 90px;
    left: 1px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .containerProducts {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}