.productos {
  color: black;
  font-size: 20px;
}

.buscadorProductos {
  border: 2px solid black;
  border-radius: 7px;
  width: 150px;
  height: 30px;
  padding: 5px;
}

.contentAddFind {
  display: flex;
  gap: 10px;
}

.contentProductos {
  /* border: 2px solid red; */
  width: 1230px;
  height: 600px;

  margin-top: 120px;
  margin-left: 250px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnAñadirProductos {
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.btnAñadirProductos:hover {
  cursor: pointer;
}




.contenedor {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tabla th,
.tabla td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ccc;
}

.tabla th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.botonEditar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.botonEditar:hover {
  background-color: #218838;
}

.botonEliminar {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.botonEliminar:hover {
  background-color: #c82333;
}