.contentUsuarios {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;
  margin-top: 120px;
  margin-left: 250px;
}

.contentTalla {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;

  margin-top: 100px;
  margin-left: 300px;
}

.formSubCategorias {
  /* border: 2px solid red; */
  width: 1200px;
  height: 600px;
  margin-top: 100px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

/* formCategorias.module.css */

.tablaUsuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tablaUsuarios th,
.tablaUsuarios td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.tablaUsuarios th {
  background-color: #f4f4f4;
}

.btnAddUsuario {
  border: 2px solid black;
  border-radius: 5px;
  width: 180px;
  height: 35px;
}

.btnAddUsuario:hover {
  cursor: pointer;
}

.btnAddTalla:hover {
  cursor: pointer;
}

.btnEditar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}