.mantMarcas {
  /* border: 2px solid red; */
  width: 1150px;
  height: 600px;

  margin-top: 120px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divMarcas {
  display: flex;
  gap: 20px;
}

.inputMarca {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.divImagen {
  display: flex;
  gap: 25px;

  margin-bottom: 25px;
}

.inputImagen {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.contentBotones {
  display: flex;
  gap: 20px;
}

.btnGuardar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.btnGuardar:hover {
  cursor: pointer;
}