.contentUsuario {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;
  margin-top: 120px;
  margin-left: 250px;
}

.contentTalla {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;

  margin-top: 100px;
  margin-left: 250px;
}

.contentSubCategoria {
  /* border: 2px solid red; */
  width: 1200px;
  height: 600px;

  margin-top: 100px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divUsuarios {
  display: flex;
  gap: 20px;
}

.divClaves {
  display: flex;
  gap: 38px;
  margin-bottom: 25px;
}

.inputNombre {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.divComboUsuarios {
  display: flex;
  gap: 35px;
}

.comboUsuarios {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 30px;
}

.contentBotones {
  display: flex;
  gap: 20px;
}

.btnGuardar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.btnGuardar:hover {
  cursor: pointer;
}

.inputTallas {
  border: 2px solid black;
  border-radius: 5px;
  width: 170px;
  height: 28px;
  padding: 3px;
}