.contentSubCategoria {
  /* border: 2px solid red; */
  width: 1200px;
  height: 600px;

  margin-top: 120px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divSubCategorias {
  display: flex;
  gap: 20px;
}

.inputSubCategoria {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.divImagen {
  display: flex;
  gap: 25px;

  /* margin-bottom: 25px; */
}

.divCategorias {
  display: flex;
  gap: 25px;

  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 5px;
  width: 245px;
  height: 30px;
}

.inputImagen {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.contentBotones {
  display: flex;
  gap: 20px;
}

.btnGuardar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.btnGuardar:hover {
  cursor: pointer;
}