.contentTalla {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;

  margin-top: 120px;
  margin-left: 250px;
}

.contentSubCategoria {
  /* border: 2px solid red; */
  width: 1200px;
  height: 600px;

  margin-top: 100px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divTallas {
  display: flex;
  gap: 20px;
}

.inputTallas {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 25px;
}

.divComboTalla {
  display: flex;
  gap: 45px;

  margin-bottom: 25px;
}

.comboTalla {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 170px;
  height: 30px;
}

.contentBotones {
  display: flex;
  gap: 20px;
}

.btnGuardar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.btnGuardar:hover {
  cursor: pointer;
}

.contentTalla {
  /* border: 2px solid red; */
  width: 1100px;
  height: 600px;

  margin-top: 120px;
  margin-left: 300px;
}

.buscadorTallas {
  border: 2px solid black;
  border-radius: 7px;
  width: 150px;
  height: 35px;
  padding: 5px;
}

.contentAddFind {
  display: flex;
  gap: 10px;
}

.formSubCategorias {
  /* border: 2px solid red; */
  width: 1200px;
  height: 600px;
  margin-top: 100px;
  margin-left: 250px;
}

.titulo {
  font-size: 22px;
  margin-bottom: 20px;
}

/* formCategorias.module.css */

.tablaTallas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tablaTallas th,
.tablaTallas td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.tablaTallas th {
  background-color: #f4f4f4;
}

.btnAddTalla {
  border: 2px solid black;
  border-radius: 5px;
  width: 180px;
  height: 35px;
}

.btnAddTalla:hover {
  cursor: pointer;
}

.btnEditar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 768px) {

  .contentTalla {
    width: 100%;
    height: auto;
    margin: 80px auto 0 auto;
    padding: 16px;
  }

  .titulo {
    text-align: center;
    font-size: 20px;
  }

  .formulario {
    gap: 16px;
  }

  .divTallas,
  .divComboTalla {
    flex-direction: column;
    gap: 6px;
  }

  .inputTallas,
  .comboTalla {
    width: 100%;
    height: 38px;
    font-size: 16px;
  }

  .contentBotones {
    flex-direction: column;
    gap: 12px;
  }

  .btnGuardar {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }
}
