.containerProductAuto {
  /* border: 2px solid red; */
  width: 100%;
  height: 150px;

  display: flex;
  gap: 20px;
}

.containerProductAuto:hover {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.426);
  cursor: pointer;
}

.estiloContainerImagen {
  /* border: 2px solid blue; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estiloImagen {
  width: 50%;
  height: 50%;
}

.estiloContentDescripcion {
  /* border: 2px solid black; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.estiloContentMarca {
  /* border: 2px solid red; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentNombre {
  /* border: 2px solid green; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentPrecio {
  /* border: 2px solid blue; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentBoton {
  /* border: 2px solid blue; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloBoton {
  border-radius: 5px;
  /* background-color: purple; */
  background-color: #800080;
  width: 170px;
  height: 30px;
}

.estiloTextoBoton {
  color: white;
  font-size: 12px;
  padding: 5px;
}

.estiloMarca {
  color: black;
}

.estiloNombre {
  color: black;
}

.estiloPrecio {
  color: black;
}


@media (max-width: 768px) {
  .containerProductAuto {
  /* border: 2px solid red; */
  width: 100%;
  height: 150px;

  display: flex;
  gap: 20px;
}

.containerProductAuto:hover {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.426);
  cursor: pointer;
}

.estiloContainerImagen {
  /* border: 2px solid blue; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estiloImagen {
  width: 50%;
  height: 50%;
}

.estiloContentDescripcion {
  /* border: 2px solid black; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.estiloContentMarca {
  /* border: 2px solid red; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentNombre {
  /* border: 2px solid green; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentPrecio {
  /* border: 2px solid blue; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloContentBoton {
  /* border: 2px solid blue; */
  width: 100%;
  height: 33.3%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.estiloBoton {
  border-radius: 5px;
  background-color: purple;
  width: 170px;
  height: 30px;
}

.estiloTextoBoton {
  color: white;
  font-size: 12px;
  padding: 5px;
}

.estiloMarca {
  color: black;
}

.estiloNombre {
  color: black;
}

.estiloPrecio {
  color: black;
}
}